<template>
  <DashboardLayout>
    <v-data-table
      :headers="headers"
      :items="admins_data"
      loader
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title class="text-uppercase"
            >Administrateurs</v-toolbar-title
          >
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn outlined color="lime darken-3" dark class="mb-2" v-on="on"
                >Nouvel Administrateur</v-btn
              >
            </template>
            <v-card>
              <v-card-text>
                <v-container>
                  <v-row align="center" justify="center">
                    <v-col cols="12" sm="6" md="6">
                      <v-text-field
                        prepend-icon="mdi-account"
                        single-line
                        v-model="editedItem.name_admin"
                        label="Nom"
                      ></v-text-field>
                      <v-text-field
                        prepend-icon="mdi-account"
                        single-line
                        v-model="editedItem.firstname_admin"
                        label="Firstname"
                      ></v-text-field>
                      <v-text-field
                        prepend-icon="mdi-email"
                        single-line
                        type="email"
                        v-model="editedItem.email_admin"
                        label="Email"
                      ></v-text-field>
                      <v-text-field
                        prepend-icon="mdi-key"
                        single-line
                        type="password"
                        v-model="editedItem.password_admin"
                        label="Password"
                      ></v-text-field>
                      <v-card-actions>
                        <v-btn
                          color="lime darken-3"
                          outlined
                          text
                          @click="close"
                          >Cancel</v-btn
                        >
                        <v-btn color="lime darken-3" outlined text @click="save"
                          >Save</v-btn
                        >
                      </v-card-actions>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon color="lime darken-3" class="mr-2" @click="editItem(item)">
          mdi-pencil-outline
        </v-icon>
        <v-icon color="lime darken-3" @click="deleteItem(item)">
          mdi-trash-can-outline
        </v-icon>
      </template>
    </v-data-table>
  </DashboardLayout>
</template>

<script>
import DashboardLayout from "../layouts/DashboardLayout";

import { requestOptions } from "../plugins/header";
import { handleResponse } from "../plugins/handleResponse";

const apiUrl = "http://localhost:8000/api";

export default {
  components: {
    DashboardLayout
  },

  data: () => ({
    search: "",
    pagination: { rowsPerPage: 10 },
    dialog: false,
    headers: [
      { text: "Identifiant", value: "id_admin" },
      { text: "Prenom", value: "firstname_admin" },
      { text: "Nom", value: "name_admin" },
      { text: "Email", value: "email_admin" },
      { text: "Actions", value: "action", sortable: false }
    ],
    admins_data: [],
    editedIndex: -1,
    editedItem: {
      name_admin: "",
      firstname_admin: "",
      email_admin: "",
      password_admin: ""
    },
    defaultItem: {
      name_admin: "",
      firstname_admin: "",
      email_admin: "",
      password_admin: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },

    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;
      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    fetchAdmins() {
      fetch(apiUrl + "/admins", requestOptions.get())
        .then(handleResponse)
        .then(response => {
          this.admins_data = response;
        });
    },

    initialize() {
      this.fetchAdmins();
    },

    editItem(item) {
      this.editedIndex = this.admins_data.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.admins_data.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.admins_data.splice(index, 1);
      fetch(apiUrl + "/admins/" + item.id_admin, requestOptions.delete())
        .then(handleResponse)
        .then(response => {
          console.log(response);
        });
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        fetch(
          apiUrl + "/admins",
          requestOptions.put({
            id_admin: this.editedItem.id_admin,
            name_admin: this.editedItem.name_admin,
            firstname_admin: this.editedItem.firstname_admin,
            email_admin: this.editedItem.email_admin,
            password_admin: this.editedItem.password_admin
          })
        )
          .then(handleResponse)
          .then(response => {
            console.log(response);
          })
          .finally(() => {
            Object.assign(this.admins_data[this.editedIndex], this.editedItem);
            this.loading = false;
          });
      } else {
        fetch(
          apiUrl + "/admins",
          requestOptions.post({
            name_admin: this.editedItem.name_admin,
            firstname_admin: this.editedItem.firstname_admin,
            email_admin: this.editedItem.email_admin,
            password_admin: this.editedItem.password_admin
          })
        )
          .then(handleResponse)
          .then(response => {
            console.log(response);
          })
          .catch(function(err) {
            console.log(err);
          });
        this.admins_data.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
