<template>
  <DashboardLayout>
    <v-data-table
      :headers="headers"
      :items="devices_data"
      loader
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Appareils</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn outlined color="lime darken-3" dark class="mb-2" v-on="on"
                >Nouvel Appareil</v-btn
              >
            </template>
            <v-card>
              <v-card-text>
                <v-container>
                  <v-row align="center" justify="center">
                    <v-col cols="12" sm="6" md="6">
                      <v-radio-group
                        row
                        name="radio_group"
                        v-model="platforms"
                        @change="onChangeDevices($event)"
                      >
                        <v-icon large>mdi-cellphone-iphone</v-icon>
                        <v-radio
                          name="platform_radio_btn"
                          value="phone"
                        ></v-radio>
                        <v-icon large>mdi-tablet-ipad</v-icon>
                        <v-radio
                          cols="4"
                          name="platform_radio_btn"
                          value="tablet"
                        ></v-radio>
                      </v-radio-group>
                      <v-select
                        @change="onChangeBrand($event)"
                        v-model="brands"
                        label="Marque"
                        prepend-icon="mdi-food-apple-outline"
                        :items="devices_data"
                        item-text="device_types[0].brand_device_type"
                        item-value="device_types[0].brand_device_type"
                      ></v-select>
                      <v-select
                        @change="getModelToId(models)"
                        label="Modèle"
                        prepend-icon="mdi-cellphone-information"
                        :items="models"
                        item-text="model_device_type"
                        item-value="model_device_type"
                      ></v-select>
                      <v-select
                        v-model="editedItem.id_store"
                        label="Magasins"
                        prepend-icon="mdi-store"
                        :items="devices_data"
                        item-text="store.name_store"
                        item-value="store.id_store"
                      ></v-select>
                      <v-text-field
                        prepend-icon="mdi-numeric"
                        v-model="editedItem.serial_number_device"
                        label="Numéro de série"
                      ></v-text-field>
                      <v-card-actions>
                        <v-btn
                          color="lime darken-3"
                          outlined
                          text
                          @click="close"
                          >Cancel</v-btn>
                        <v-btn color="lime darken-3" outlined text @click="save"
                          >Save</v-btn>
                      </v-card-actions>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon color="lime darken-3" class="mr-2" @click="editItem(item)">
          mdi-pencil-outline
        </v-icon>
        <v-icon color="lime darken-3" @click="deleteItem(item)">
          mdi-trash-can-outline
        </v-icon>
      </template>
    </v-data-table>
  </DashboardLayout>
</template>
<script>
import DashboardLayout from "../layouts/DashboardLayout";

import { requestOptions } from "../plugins/header";
import { handleResponse } from "../plugins/handleResponse";

const apiUrl = "http://localhost:8000/api";

export default {
  components: {
    DashboardLayout
  },

  data: () => ({
    platforms: "phone",
    brands: [],
    models: [],
    search: "",
    id_device_cascade: "",
    pagination: { rowsPerPage: 10 },
    dialog: false,
    headers: [
      { text: "Numéro de Série", value: "serial_number_device" },
      { text: "Identifiant", value: "device_types[0].id_device_type" },
      { text: "Modèle", value: "device_types[0].model_device_type" },
      { text: "Plateforme", value: "device_types[0].platform_device_type" },
      { text: "Marque", value: "device_types[0].brand_device_type" },
      { text: "ID Magasin", value: "store.id_store" },
      { text: "Magasin", value: "store.name_store" },
      { text: "Actions", value: "action", sortable: false }
    ],
    devices_data: [],
    editedIndex: -1,
    editedItem: {
      serial_number_device: "",
      id_device_type: "",
      id_store: ""
    },
    defaultItem: {
      serial_number_device: "",
      id_device_type: "",
      id_store: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;
      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    onChangeDevices() {
      fetch(
        "http://localhost:8000/api/device_types/platform/" + this.platforms,
        requestOptions.get()
      )
        .then(handleResponse)
        .then(response => {
          this.brand_device_type = response;
        });
    },

    onChangeBrand() {
      fetch(
        `http://localhost:8000/api/device_types/brand/${this.platforms}/` +
          this.brands,
        requestOptions.get()
      )
        .then(handleResponse)
        .then(response => {
          this.models = response;
        });
    },

    getModelToId(models) {
      fetch(
        `http://localhost:8000/api/device_types/model/` +
          models[0].model_device_type,
        requestOptions.get()
      )
        .then(handleResponse)
        .then(response => {
          this.id_device_cascade = response[0].id_device_type;
          console.log(this.id_device_cascade);
        });
    },

    fetchDevices() {
      fetch(`${apiUrl}/devices`, requestOptions.get())
        .then(handleResponse)
        .then(response => {
          this.devices_data = response;
        });
    },

    initialize() {
      this.fetchDevices();
    },

    editItem(item) {
      this.editedIndex = this.devices_data.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.devices_data.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.devices_data.splice(index, 1);
      fetch(apiUrl + "/devices/" + item.id_device, requestOptions.delete())
        .then(handleResponse)
        .then(response => {
          console.log(response);
        });
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        console.log(this.editedItem);
        fetch(
          apiUrl + "/devices",
          requestOptions.put({
            id_device: this.editedItem.id_device,
            id_store: this.editedItem.id_store,
            serial_number_device: this.editedItem.serial_number_device,
            id_device_type: this.id_device_cascade
          })
        )
          .then(handleResponse)
          .then(response => {
            console.log(response);
          })
          .finally(() => {
            Object.assign(this.devices_data[this.editedIndex], this.editedItem);
            this.loading = false;
          });
      } else {
        fetch(
          apiUrl + "/devices",
          requestOptions.post({
            id_store: this.editedItem.id_store,
            serial_number_device: this.editedItem.serial_number_device,
            id_device_type: this.id_device_cascade
          })
        )
          .then(handleResponse)
          .then(response => {
            console.log(response);
          })
          .catch(function(err) {
            console.log(err);
          });
        console.log(this.devices_data);

        this.devices_data.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
