<template>
  <DashboardLayout>
    <v-container class="bg2" fluid>
      <v-row>
        <v-col xs="12" cols="6" sm="12">
          <a
            class="twitter-timeline"
            data-lang="en"
            data-width="500"
            data-height="450"
            data-theme="dark"
            href="https://twitter.com/octipas?ref_src=twsrc%5Etfw"
            >Tweets by octipas</a
          >
        </v-col>
        <v-col id="social-block" cols="6" xs="12" sm="12">
          <div id="fb-root"></div>
          <div
            class="fb-page"
            data-href="https://www.facebook.com/pages/category/Office-Equipment-Store/Octipas-153643631350079/"
            data-tabs="timeline"
            data-width="500"
            data-height="450"
            data-small-header="true"
            data-adapt-container-width="true"
            data-hide-cover="false"
            data-show-facepile="true"
          >
            <blockquote
              cite="https://www.facebook.com/pages/category/Office-Equipment-Store/Octipas-153643631350079/"
              class="fb-xfbml-parse-ignore"
            >
              <a
                href="https://www.facebook.com/pages/category/Office-Equipment-Store/Octipas-153643631350079/"
                >Octipas</a
              >
            </blockquote>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </DashboardLayout>
</template>
<script>
import DashboardLayout from "../layouts/DashboardLayout";
export default {
  data: () => ({}),
  components: {
    DashboardLayout
  },
  mounted() {
    if (localStorage.getItem("reloaded")) {
      // The page was just reloaded. Clear the value from local storage
      // so that it will reload the next time this page is visited.
      localStorage.removeItem("reloaded");
    } else {
      // Set a flag so that we know not to reload the page twice.
      localStorage.setItem("reloaded", "1");
      location.reload();
    }
  }
};
</script>
<style>
.bg2 {
  background-image: url("~@/assets/img/background-part1.png");
  background-size: cover;
}
</style>
