<template>
  <DashboardLayout>
    <div>
      <v-app id="inspire">
        <v-card>
          <v-card-title>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-table-search"
              label="Rechercher"
              single-line
              hide-details
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="incidents"
            :single-select="singleSelect"
            item-key="id_incident"
            show-select
            :items-per-page="5"
            :search="search"
            :loading="loading"
            loading-text="Chargement en cours, veuillez patienter..."
            class="elevation-1"
          >
            <template v-slot:item.edit="{ item }">
              <v-icon
                medium
                color="lime darken-3"
                @click="editIncident(item.id_incident)"
              >
                mdi-pencil-outline
              </v-icon>
            </template>
          </v-data-table>
        </v-card>
      </v-app>
    </div>
  </DashboardLayout>
</template>
<script>
const apiUrl = "http://localhost:8000/api";
import { requestOptions } from "../plugins/header";
import { handleResponse } from "../plugins/handleResponse";

import DashboardLayout from "../layouts/DashboardLayout";

export default {
  components: {
    DashboardLayout
  },

  data: function() {
    return {
      loading: true,
      title: "Home",
      incidents: [],
      singleSelect: "",
      props: ["edit"],
      search: "",
      headers: [
        {
          text: "NUMÉRO",
          align: "left",
          sortable: false,
          value: "id_incident"
        },
        { text: "TITRE DE L'INCIDENT", value: "title_incident" },
        { text: "DATE", value: "date_incident" },
        { text: "MAGASIN", value: "device.store.name_store" },
        { text: "APPAREIL", value: "device.device_types[0].model_device_type" },
        { text: "STATUT", value: "statuses[0].name_status" },
        { text: "ÉDITER", value: "edit" }
      ]
    };
  },

  methods: {
    editIncident(id) {
      console.log(id);
      this.$router.push({ name: "incident_edit", params: { id } });
    }
  },

  beforeMount() {
    fetch(apiUrl + "/incidents", requestOptions.get())
      .then(handleResponse)
      .then(response => {
        this.incidents = response;
        console.log(this.incidents);
      })
      .catch(function(error) {
        console.log(error);
      })
      .finally(() => {
        this.loading = false;
      });
  }
};
</script>
<style></style>
