<template v-slot:activator="{ on }">
  <DashboardLayout>
    <v-container fluid v-if="incident">
      <v-row>
        <v-col cols="12" md="6">
          <v-card class="d-flex flex-column pa-2 mb-6" max-width="700" tile>
            <v-card-title>DESCRIPTION DE L'INCIDENT</v-card-title>
            <v-row align="center" justify="center">
              <v-col class="text-center">
                <v-card-subtitle class="text-left">Titre :</v-card-subtitle>
                <v-card-subtitle class="text-left">Date :</v-card-subtitle>
                <v-card-subtitle class="text-left">Statut :</v-card-subtitle>
              </v-col>
              <v-col>
                <v-card-text class="text-left">
                  {{ incident.title_incident }}
                </v-card-text>
                <v-card-text class="text-left">
                  {{ incident.date_incident }}
                </v-card-text>
                <v-card-text class="text-left">
                  {{ incident.statuses[0].name_status }}
                </v-card-text>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col class="text-center">
                <v-card-subtitle class="text-left"
                  >Description :</v-card-subtitle
                >
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col>
                <v-card-text class="text-left">
                  {{ incident.description_incident }}
                </v-card-text>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col>
                <v-card-subtitle class="text-left"
                  >Retour du service technique :</v-card-subtitle
                >
              </v-col>
              <v-col>
                <v-card-text class="text-left">
                  <v-icon large>mdi-comment-check-outline</v-icon></v-card-text
                >
              </v-col>
            </v-row>
          </v-card>
          <v-card
            class="d-flex flex-column pa-2 mb-6"
            max-width="700"
            min-height="116"
            tile
          >
            <v-row>
              <v-col cols="12" md="6">
                <v-card-actions>
                  <v-dialog
                    v-model="displayTransmitIncidentModal"
                    persistent
                    max-width="600"
                  >
                    <template>
                      <v-btn
                        class="ma-2"
                        slot="activator"
                        color="amber darken-4"
                        dark
                        @click="displayTransmitIncidentModal = true"
                      >
                        TRANSMETTRE
                      </v-btn>
                    </template>
                    <transmitIncident
                      :idIncident="incident.id_incident"
                      @close="displayTransmitIncidentModal = false"
                    ></transmitIncident>
                  </v-dialog>
                  <v-dialog
                    v-model="displayChangeStatusModal"
                    persistent
                    max-width="600"
                  >
                    <template>
                      <v-btn
                        v-on="on"
                        class="ma-2"
                        slot="activator"
                        color="amber darken-4"
                        dark
                        @click="displayChangeStatusModal = true"
                      >
                        MODIFIER LE STATUT
                      </v-btn>
                    </template>
                    <changeIncidentStatus
                      :idIncident="incident.id_incident"
                      @close="displayChangeStatusModal = false"
                    ></changeIncidentStatus>
                  </v-dialog>
                  <v-btn
                    class="ma-2"
                    slot="activator"
                    color="grey darken-1"
                    dark
                    @click="backToIncidentPage()"
                  >
                    RETOUR À LA LISTE
                  </v-btn>
                </v-card-actions>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" md="6">
          <v-card class="d-flex flex-column pa-2 mb-6" max-width="700" tile>
            <v-card-title>MAGASIN</v-card-title>
            <v-row align="center" justify="center">
              <v-col class="text-center">
                <v-card-subtitle class="text-left">Marque :</v-card-subtitle>
                <v-card-subtitle class="text-left">Nom :</v-card-subtitle>
                <v-card-subtitle class="text-left">Ville :</v-card-subtitle>
                <v-card-subtitle class="text-left"
                  >Utilisateur :</v-card-subtitle
                >
              </v-col>
              <v-col>
                <v-card-text class="text-left">
                  {{ incident.device.store.partner.name_partner }}
                </v-card-text>
                <v-card-text class="text-left">
                  {{ incident.device.store.name_store }}
                </v-card-text>
                <v-card-text class="text-left">
                  {{ incident.device.store.city_store }}
                </v-card-text>
                <v-card-text class="text-left">
                  {{ incident.user.firstname_user }}
                  {{ incident.user.name_user }}
                </v-card-text>
              </v-col>
            </v-row>
          </v-card>
          <v-card class="d-flex flex-column pa-2 mb-6" max-width="700" tile>
            <v-card-title>APPAREIL</v-card-title>
            <v-row align="center" justify="center">
              <v-col class="text-left">
                <v-card-subtitle class="text-left">Marque :</v-card-subtitle>
                <v-card-subtitle class="text-left">Modèle :</v-card-subtitle>
              </v-col>
              <v-col>
                <v-card-text class="text-left">
                  {{ incident.device.device_types[0].brand_device_type }}
                </v-card-text>
                <v-card-text class="text-left">
                  {{ incident.device.device_types[0].model_device_type }}
                </v-card-text>
              </v-col>
              <v-img
                :src="require('../assets/img/iPhoneX.png')"
                aspect-ratio="1"
                class="mr-1"
                max-width="150"
                max-height="200"
              ></v-img>
            </v-row>
            <v-row align="center" justify="center">
              <v-col class="text-center">
                <v-card-subtitle class="text-left"
                  >Numéro de série :</v-card-subtitle
                >
              </v-col>
              <v-col>
                <v-card-text class="text-center">
                  {{ incident.device.serial_number_device }}
                </v-card-text>
              </v-col>
              <v-spacer></v-spacer>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </DashboardLayout>
</template>

<script>
const apiUrl = "http://localhost:8000/api";

import { requestOptions } from "../plugins/header";
import { handleResponse } from "../plugins/handleResponse";

import DashboardLayout from "../layouts/DashboardLayout";
import ChangeIncidentStatus from "../components/ChangeIncidentStatus";
import TransmitIncident from "../components/TransmitIncident";

export default {
  components: {
    DashboardLayout,
    ChangeIncidentStatus,
    TransmitIncident
  },
  props: ["id"],
  data: function() {
    return {
      displayChangeStatusModal: false,
      displayTransmitIncidentModal: false,
      incident: ""
    };
  },
  methods: {
    backToIncidentPage() {
      this.$router.push("/incidents");
    }
  },
  beforeMount() {
    fetch(`${apiUrl}/incidents/${this.id}`, requestOptions.get())
      .then(handleResponse)
      .then(response => {
        this.incident = response;
      })
      .catch(function(error) {
        console.log(error);
      })
      .finally(() => {
        this.loading = false;
      });
  }
};
</script>
<style></style>
