<template>
  <v-content>
    <v-container class="fill-height bg" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4">
          <v-card class="elevation-12">
            <v-toolbar color="grey darken-4">
              <v-row>
                <v-col lg="6" md="3" sm="3">
                  <v-img width="8em" :src="logo"></v-img>
                </v-col>
              </v-row>
            </v-toolbar>

            <v-card-text>
              <v-form>
                <v-text-field
                  label="Email"
                  id="email_admin"
                  name="email_admin"
                  prepend-icon="mdi-face"
                  type="email"
                  v-model="email"
                  required
                />
                <v-text-field
                  id="password_admin"
                  label="Mot de passe"
                  name="password_admin"
                  prepend-icon="mdi-lock"
                  v-model="password"
                  type="password"
                  required
                />
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn
                color="grey darken-4"
                @click="loginAdmin(email, password)"
                outlined
                >Login</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>
<script>
import { requestOptions } from "../plugins/header";
import { handleResponse } from "../plugins/handleResponse";

export default {
  data: function() {
    return {
      email: null,
      password: null,
      disabled: false,
      logo: require("@/assets/img/logoOctipasblanc.png")
    };
  },

  props: {
    source: String
  },
  methods: {
    loginAdmin(email, password) {
      fetch(
        "http://localhost:8000/api/admin/login",
        requestOptions.post({
          email_admin: email,
          password_admin: password
        })
      )
        .then(handleResponse)
        .then(response => {
          localStorage.setItem("currentToken", response.token);
          this.$router.push("home");
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
<style>
.bg {
  background-image: url("~@/assets/img/background-part0.png");
  background-size: cover;
}
</style>
