<template>
  <DashboardLayout>
    <v-data-table
      :headers="headers"
      :items="partners"
      loader
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Marques Associées</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn outlined color="lime darken-3" dark class="mb-2" v-on="on"
                >Nouvelle Marque</v-btn
              >
            </template>
            <v-card>
              <v-card-text>
                <v-container>
                  <v-row align="center" justify="center">
                    <v-col cols="12" sm="10" md="10">
                      <v-text-field
                        v-model="editedItem.name_partner"
                        prepend-icon="mdi-handshake"
                        label="Nom partenaire"
                      ></v-text-field>
                      <v-card-actions>
                        <v-row class="center-btn">
                          <v-col cols="12">
                            <v-btn
                              color="lime darken-3"
                              outlined
                              text
                              @click="close"
                              >Annuler</v-btn
                            >
                            <v-btn
                              color="lime darken-3"
                              outlined
                              text
                              @click="save"
                              >Confirmer</v-btn
                            >
                          </v-col>
                        </v-row>
                      </v-card-actions>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon class="mr-2" color="lime darken-3" @click="editItem(item)">
          mdi-pencil-outline
        </v-icon>
        <v-icon @click="deleteItem(item)" color="lime darken-3">
          mdi-trash-can-outline
        </v-icon>
      </template>
    </v-data-table>
  </DashboardLayout>
</template>
<script>
import { requestOptions } from "../plugins/header";
import { handleResponse } from "../plugins/handleResponse";

import DashboardLayout from "../layouts/DashboardLayout";

const apiUrl = "http://localhost:8000/api";

export default {
  components: {
    DashboardLayout
  },

  data: () => ({
    search: "",
    pagination: { rowsPerPage: 10 },
    dialog: false,
    headers: [
      { text: "Partner Name", value: "name_partner" },
      { text: "Actions", value: "action", sortable: false }
    ],
    partners: [],
    editedIndex: -1,
    editedItem: {
      name_partner: ""
    },
    defaultItem: {
      name_partner: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;
      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  beforeCreate() {
    fetch(apiUrl + "/partners", requestOptions.get())
      .then(handleResponse)
      .then(response => {
        this.partners = response;
      })
      .catch(err => {
        console.log(err);
      });
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.partners.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.partners.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.partners.splice(index, 1);
      fetch(apiUrl + "/partners/" + item.id_partner, requestOptions.delete())
        .then(handleResponse)
        .then(response => {
          console.log(response);
        });
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        fetch(
          apiUrl + "/partners",
          requestOptions.put({
            id_partner: this.editedItem.id_partner,
            name_partner: this.editedItem.name_partner
          })
        )
          .then(handleResponse)
          .then(response => {
            console.log(response);
          })
          .finally(() => {
            Object.assign(this.partners[this.editedIndex], this.editedItem);
            this.loading = false;
          });
      } else {
        fetch(
          apiUrl + "/partners",
          requestOptions.post({
            name_partner: this.editedItem.name_partner
          })
        )
          .then(handleResponse)
          .then(response => {
            console.log(response);
          })
          .catch(function(err) {
            console.log(err);
          });
        this.partners.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
