<template>
  <DashboardLayout>
    <template>
      <v-card class="mx-auto" max-width="344" outlined>
        <v-list-item three-line>
          <v-list-item-content>
            <v-icon size="100">{{ profileIcon }}</v-icon>

            <div class="headline mb-1">
              {{ user.firstname_admin }}
              {{ user.name_admin }}
            </div>
            <v-list-item-title class="headline mb-1">
              <v-icon size="20">
                mdi-email
              </v-icon>
              {{ user.email_admin }}
            </v-list-item-title>
            <v-list-item-title class="headline mb-1"> </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-row align="center" justify="center">
          <v-col class="text-center">
            <v-dialog v-model="dialog1" max-width="500px">
              <template v-slot:activator="{ on }">
                <v-btn v-on="on" class="ma-2" color="amber darken-4" outlined
                  >Modifier le Profil</v-btn
                >
              </template>
              <v-card>
                <v-card-text>
                  <v-container>
                    <v-row align="center" justify="center">
                      <v-col cols="12" sm="6" md="6">
                        <v-text-field
                          prepend-icon="mdi-account"
                          v-model="user.firstname_admin"
                          label="Prénom"
                        ></v-text-field>
                        <v-text-field
                          prepend-icon="mdi-account"
                          v-model="user.name_admin"
                          label="Nom"
                        ></v-text-field>
                        <v-text-field
                          prepend-icon="mdi-email"
                          type="email"
                          v-model="user.email_admin"
                          label="Email"
                        ></v-text-field>
                        <v-card-actions>
                          <v-btn
                            color="amber darken-4"
                            outlined
                            text
                            @click="close"
                            >Annuler</v-btn
                          >
                          <v-btn
                            outlined
                            color="amber darken-4"
                            text
                            @click="close"
                            >Enregistrer</v-btn
                          >
                        </v-card-actions>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialog2" max-width="500px">
              <template v-slot:activator="{ on }">
                <v-btn outlined color="amber darken-4" class="ma-2" v-on="on"
                  >Modifier le Mot de Passe</v-btn
                >
              </template>
              <v-card>
                <v-card-text>
                  <v-container>
                    <v-row align="center" justify="center">
                      <v-col cols="12" sm="6" md="6">
                        <v-text-field
                          prepend-icon="mdi-key"
                          label="Ancien Mot de Passe"
                        ></v-text-field>
                        <v-text-field
                          prepend-icon="mdi-key"
                          label="Nouveau Mot de Passe"
                        ></v-text-field>
                        <v-text-field
                          prepend-icon="mdi-key"
                          type="email"
                          label="Confirmer"
                        ></v-text-field>
                        <v-card-actions>
                          <v-btn color="amber darken-4" outlined @click="close"
                            >Annuler</v-btn
                          >
                          <v-btn outlined color="amber darken-4" @click="close"
                            >Enregistrer</v-btn
                          >
                        </v-card-actions>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>
              </v-card>
            </v-dialog>
          </v-col>
        </v-row>
      </v-card>
    </template>
  </DashboardLayout>
</template>
<script>
const apiUrl = "http://localhost:8000/api";

import DashboardLayout from "../layouts/DashboardLayout";
import { requestOptions } from "../plugins/header";
import { handleResponse } from "../plugins/handleResponse";

export default {
  components: {
    DashboardLayout
  },
  data: function() {
    return {
      dialog1: false,
      dialog2: false,
      loading: true,
      title: "Admins Profile",
      user: "",
      profileIcon: "mdi-face"
    };
  },
  methods: {
    close() {
      this.dialog1 = false;
      this.dialog2 = false;
    }
  },
  beforeMount() {
    fetch(apiUrl + "/profile", requestOptions.get())
      .then(handleResponse)
      .then(response => {
        this.user = response;
      })
      .catch(function(error) {
        console.log(error);
      })
      .finally(() => {
        this.loading = false;
      });
  }
};
</script>
