<template>
  <DashboardLayout>
    <div>
      <v-container v-if="stores_data || devices_data || devices_type">
        <v-row>
          <v-col cols="7" sm="12" xs="12">
            <template>
              <v-card class="mx-auto" tile>
                <v-list-item>
                  <v-list-item-content>
                    <div class="overline mb-4">Nom Magasin</div>
                    <v-row>
                      <v-col lg="6">
                        <v-list-item-title>
                          <v-list-item-icon class="mr-3">
                            <v-icon color="lime darken-3"
                              >mdi-numeric</v-icon
                            > </v-list-item-icon
                          >{{ stores_data.id_store }}
                        </v-list-item-title>
                      </v-col>
                      <v-col>
                        <v-list-item-title>
                          <v-list-item-icon class="mr-3">
                            <v-icon color="lime darken-3"
                              >mdi-handshake</v-icon
                            > </v-list-item-icon
                          >{{ stores_data.partner.name_partner }}
                        </v-list-item-title>
                      </v-col>
                    </v-row>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title
                      v-for="line in lines"
                      :key="line.label"
                      single-line
                      class="text-uppercase"
                    >
                      <v-list-item-icon class="mr-3">
                        <v-icon color="lime darken-3">{{ line.icon }}</v-icon>
                      </v-list-item-icon>
                      <v-list-item-subtitle>
                        {{ line.label }}</v-list-item-subtitle
                      >
                      {{ stores_data[line.model] }}
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-card>
            </template>
          </v-col>
          <v-col cols="5" sm="12" xs="12">
            <template>
              <v-card class="mx-auto" tile>
                <v-row>
                  <v-col>
                    <v-card class="ma-4 pt-5" outlined>
                      <div class="overline">
                        {{ devices_type.device_types[0].brand_device_type }}
                        {{ devices_type.device_types[0].model_device_type }}
                      </div>
                      <v-list-item>
                        <v-list-item-content>
                          <v-row>
                            <v-col cols="2">
                              <v-list-item-icon class="ma-0">
                                <v-icon large color="lime darken-3"
                                  >mdi-deskphone</v-icon
                                >
                              </v-list-item-icon>
                            </v-col>
                            <v-col cols="10">
                              <v-list-item-title>
                                Numéro de Série
                              </v-list-item-title>
                              <v-list-item-title>
                                {{ devices_data[0].serial_number_device }}
                              </v-list-item-title>
                            </v-col>
                          </v-row>
                        </v-list-item-content>
                      </v-list-item>
                    </v-card>
                  </v-col>
                </v-row>
              </v-card>
            </template>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </DashboardLayout>
</template>
<script>
import { requestOptions } from "../plugins/header";
import { handleResponse } from "../plugins/handleResponse";

import DashboardLayout from "../layouts/DashboardLayout";
const apiUrl = "http://localhost:8000/api";

export default {
  components: {
    DashboardLayout
  },
  props: ["id"],
  data: function() {
    return {
      stores_data: [],
      devices_data: [],
      devices_type: [],
      id_device: "",
      lines: [
        {
          icon: "mdi-home-map-marker",
          model: "address_1_store",
          label: "Adresse principale"
        },
        {
          icon: "mdi-map-marker-circle",
          model: "address_2_store",
          label: "Adresse secondaire"
        },
        {
          icon: "mdi-email-outline",
          model: "email_store",
          label: "Email"
        },
        {
          icon: "mdi-deskphone",
          model: "phone_store",
          label: "Téléphone"
        },
        {
          icon: "mdi-home-city-outline",
          model: "city_store",
          label: "Ville"
        },
        {
          icon: "mdi-numeric",
          model: "postal_code_store",
          label: "Code Postal"
        }
      ]
    };
  },

  beforeMount() {
    fetch(`${apiUrl}/stores/${this.id}`, requestOptions.get())
      .then(handleResponse)
      .then(response => {
        this.stores_data = response;
      })
      .catch(function(error) {
        console.log(error);
      })
      .finally(() => {
        this.loading = false;
      });
  },
  mounted() {
    fetch(`${apiUrl}/stores/${this.id}/device`, requestOptions.get())
      .then(handleResponse)
      .then(response => {
        this.devices_data = response;
        this.id_device = this.devices_data[0].id_device;
      })
      .catch(function(error) {
        console.log(error);
      })
      .then(() => {
        fetch(`${apiUrl}/devices/` + this.id_device, requestOptions.get())
          .then(handleResponse)
          .then(response => {
            this.devices_type = response;
          })
          .catch(function(error) {
            console.log(error);
          });
      });
  }
};
</script>
