<template>
  <DashboardLayout>
    <v-data-table
      :headers="headers"
      :items="stores_data"
      loader
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title class="text-uppercase">Magasins</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn outlined color="lime darken-3" dark class="mb-2" v-on="on"
                >Nouveau magasin</v-btn
              >
            </template>
            <v-card>
              <v-card-text>
                <v-container>
                  <v-row align="center" justify="center">
                    <v-col cols="12" sm="10" md="10">
                      <v-select
                        v-model="editedItem.id_partner"
                        label="Nom partenaire"
                        :items="stores_data"
                        prepend-icon="mdi-handshake"
                        item-text="partner.name_partner"
                        item-value="partner.id_partner"
                        class="text-uppercase"
                      ></v-select>
                      <v-text-field
                        v-for="field in fields"
                        :key="field.label"
                        :prepend-icon="field.icon"
                        single-line
                        class="text-uppercase"
                        v-model="editedItem[field.model]"
                        :label="field.label"
                      ></v-text-field>
                      <v-card-actions>
                        <v-row class="center-btn">
                          <v-col cols="12">
                            <v-btn
                              color="lime darken-3"
                              outlined
                              text
                              @click="close"
                              >Annuler</v-btn
                            >
                            <v-btn
                              color="lime darken-3"
                              outlined
                              text
                              @click="save"
                              >Confirmer</v-btn
                            >
                          </v-col>
                        </v-row>
                      </v-card-actions>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon color="lime darken-3" class="mr-2" @click="showItem(item)">
          mdi-eye-outline
        </v-icon>
        <v-icon color="lime darken-3" class="mr-2" @click="editItem(item)">
          mdi-pencil-outline
        </v-icon>
        <v-icon color="lime darken-3" @click="deleteItem(item)">
          mdi-trash-can-outline
        </v-icon>
      </template>
    </v-data-table>
  </DashboardLayout>
</template>

<script>
import DashboardLayout from "../layouts/DashboardLayout";

import { requestOptions } from "../plugins/header";
import { handleResponse } from "../plugins/handleResponse";

const apiUrl = "http://localhost:8000/api";

export default {
  components: {
    DashboardLayout
  },

  data: () => ({
    search: "",
    pagination: { rowsPerPage: 10 },
    dialog: false,
    headers: [
      { text: "Identifiant", value: "id_store" },
      { text: "Nom", value: "name_store" },
      { text: "Adresse", value: "address_1_store" },
      { text: "Ville", value: "city_store" },
      { text: "Marque associée", value: "partner.name_partner" },
      { text: "Actions", value: "action", sortable: false }
    ],
    fields: [
      {
        icon: "mdi-storefront",
        model: "name_store",
        label: "Nom"
      },
      {
        icon: "mdi-home-map-marker",
        model: "address_1_store",
        label: "Adresse principale"
      },
      {
        icon: "mdi-map-marker-circle",
        model: "address_2_store",
        label: "Adresse secondaire"
      },
      {
        icon: "mdi-deskphone",
        model: "phone_store",
        label: "Numéro de téléphone"
      },
      {
        icon: "mdi-email-outline",
        model: "email_store",
        label: "Email"
      },
      {
        icon: "mdi-home-city-outline",
        model: "city_store",
        label: "Ville"
      },
      {
        icon: "mdi-numeric",
        model: "postal_code_store",
        label: "Code Postal"
      }
    ],
    stores_data: [],
    editedIndex: -1,
    editedItem: {
      id_partner: "",
      name_store: "",
      address_1_store: "",
      address_2_store: "",
      phone_store: "",
      city_store: "",
      email_store: "",
      postal_code_store: ""
    },
    defaultItem: {
      id_partner: "",
      name_store: "",
      address_1_store: "",
      address_2_store: "",
      phone_store: "",
      city_store: "",
      email_store: "",
      postal_code_store: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },

    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;
      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  beforeCreate() {
    fetch(apiUrl + "/stores", requestOptions.get())
      .then(handleResponse)
      .then(response => {
        this.stores_data = response;
      });
  },
  methods: {
    showItem(item) {
      let id = item.id_store;
      this.$router.push({ name: "store_edit", params: { id } });
    },
    editItem(item) {
      this.editedIndex = this.stores_data.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.stores_data.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.stores_data.splice(index, 1);
      fetch(apiUrl + "/stores/" + item.id_store, requestOptions.delete())
        .then(handleResponse)
        .then(response => {
          console.log(response);
        });
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        fetch(
          apiUrl + "/stores",
          requestOptions.patch({
            id_store: this.editedItem.id_store,
            id_partner: this.editedItem.id_partner,
            name_store: this.editedItem.name_store,
            address_1_store: this.editedItem.address_1_store,
            address_2_store: this.editedItem.address_2_store,
            phone_store: this.editedItem.phone_store,
            city_store: this.editedItem.city_store,
            email_store: this.editedItem.email_store,
            postal_code_store: this.editedItem.postal_code_store
          })
        )
          .then(handleResponse)
          .then(response => {
            response.sendStatus(200);
          })
          .finally(() => {
            Object.assign(this.stores_data[this.editedIndex], this.editedItem);
            this.loading = false;
          });
      } else {
        fetch(
          apiUrl + "/stores",
          requestOptions.post({
            id_partner: this.editedItem.id_partner,
            name_store: this.editedItem.name_store,
            address_1_store: this.editedItem.address_1_store,
            address_2_store: this.editedItem.address_2_store,
            phone_store: this.editedItem.phone_store,
            city_store: this.editedItem.city_store,
            email_store: this.editedItem.email_store,
            postal_code_store: this.editedItem.postal_code_store
          })
        )
          .then(handleResponse)
          .then(response => {
            console.log(response);
          })
          .catch(function(err) {
            console.log(err);
          });
        this.stores_data.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>
<style></style>
