<template v-slot:activator="{ on }">
  <v-card>
    <v-card-title class="headline"
      >Modifier le satut de l'incident</v-card-title
    >
    <v-card-text>
      <v-select
        label="Choisir un statut"
        :items="statuses"
        item-text="name_status"
        item-value="id_status"
        v-model="selectedStatus"
      ></v-select>
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        class="ma-2"
        slot="activator"
        color="amber darken-4"
        dark
        @click="$emit('close')"
      >
        ANNULER
      </v-btn>
      <v-btn
        v-on="on"
        class="ma-2"
        slot="activator"
        color="amber darken-4"
        dark
        @click="save"
      >
        VALIDER
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import { requestOptions } from "../plugins/header";
import { handleResponse } from "../plugins/handleResponse";

const apiUrl = "http://localhost:8000/api";

export default {
  props: ["idIncident"],

  data() {
    return {
      statuses: [],
      selectedStatus: null
    };
  },

  methods: {
    save() {
      fetch(
        `${apiUrl}/incidents/${this.idIncident}/statuses`,
        requestOptions.put({ id_status: this.selectedStatus })
      )
        .then(handleResponse)
        .then(response => {
          console.log(response);
        })
        .finally(() => {
          this.$emit("close");
        });
    }
  },
  mounted() {
    fetch(apiUrl + "/statuses", requestOptions.get())
      .then(handleResponse)
      .then(response => {
        this.statuses = response;
      });
  }
};
</script>
