<template>
  <v-card>
    <v-card-title class="headline"
      >Transmettre l'incident au service technique</v-card-title
    >
    <v-card-text>
      <v-select
        :items="select"
        label="Choisir une équipe"
        item-value="text"
        clearable
      ></v-select>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        class="ma-2"
        slot="activator"
        color="amber darken-4"
        dark
        @click="$emit('close')"
      >
        ANNULER
      </v-btn>
      <v-btn
        class="ma-2"
        slot="activator"
        color="amber darken-4"
        dark
        @click="transmit"
      >
        VALIDER
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: ["idIncident"],
  data() {
    return {
      select: [
        { text: "Montpellier" },
        { text: "San Francisco" },
        { text: "Tokyo" }
      ]
    };
  },
  methods: {
    transmit() {
      this.$emit("close");
    }
  }
};
</script>
