<template>
  <v-app v-show="true">
    <v-navigation-drawer v-model="drawer" color="grey darken-4" app>
      <v-row align="center" justify="center" id="col-logo-octipas">
        <v-col class="text-center">
          <v-img :src="logoBlc"></v-img>
        </v-col>
      </v-row>
      <v-list dense>
        <v-list-item
          v-for="link in links"
          :key="link.label"
          link
          :to="{ name: link.name }"
        >
          <v-list-item-action>
            <v-icon size="15" color="grey lighten-5">{{ link.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title class="list-item-sidebar">{{
              link.label
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <div class="my-2" align="center" justify="center">
          <v-btn
            id="btn-logout-layout"
            @click="logout()"
            link
            :to="{ name: 'login' }"
            outlined
            color="lime darken-3"
            small
            fab
            dark
          >
            <v-icon>mdi-logout-variant</v-icon>
          </v-btn>
        </div>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app color="grey darken-4">
      <v-row>
        <v-col lg="6">
          <v-app-bar-nav-icon
            class="white--text"
            @click.stop="drawer = !drawer"
          />
        </v-col>
        <v-col lg="3" offset-lg="2" sm="10">
          <v-btn
            text
            link
            color="grey darken-4"
            :to="{ name: 'profiles' }"
            id="login-icon"
          >
            <span id="span-login"
              >Bienvenue {{ user.firstname_admin }} {{ user.name_admin }}
            </span>
            <v-icon size="25" color="grey lighten-5">{{ loginIcon }}</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-app-bar>
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col class="text-center">
            <!--Composants chargés ici-->
            <slot />
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
const apiUrl = "http://localhost:8000/api";

import { requestOptions } from "../plugins/header";
import { handleResponse } from "../plugins/handleResponse";
import { mapGetters } from "vuex";

export default {
  data: function() {
    return {
      success: false,
      drawer: null,
      user: "",
      title: "Octipas",
      logoBlc: require("@/assets/img/logoOctipasblanc.png"),
      loginIcon: "mdi-face",
      firstNameUser: "John",
      links: [
        {
          icon: "mdi-home-outline",
          name: "home",
          label: "Accueil"
        },
        {
          icon: "mdi-handshake",
          name: "partners",
          label: "Partenaires"
        },
        {
          icon: "mdi-storefront",
          name: "stores",
          label: "Magasins"
        },
        {
          icon: "mdi-devices",
          name: "devices",
          label: "Appareils"
        },
        {
          icon: "mdi-alarm",
          name: "incidents",
          label: "Incidents"
        },
        {
          icon: "mdi-shield-account-outline",
          name: "admins",
          label: "Administrateurs"
        }
      ]
    };
  },
  beforeMount() {
    fetch(apiUrl + "/profile", requestOptions.get())
      .then(handleResponse)
      .then(response => {
        this.user = response;
      })
      .catch(function(error) {
        console.log(error);
      })
      .finally(() => {
        this.loading = false;
      });
  },

  methods: {
    logout() {
      localStorage.setItem("currentToken", "qs odjqsijd");
    }
  },

  computed: {
    ...mapGetters(["login"])
  }
};
</script>
<style>
#login-icon {
  vertical-align: center;
  height: 100%;
  color: #fafafa;
}
#span-login {
  color: #fafafa;
}
#col-logo-octipas {
  width: 50%;
  margin: 0 auto;
}
#btn-logout-layout {
  top: 15em;
}
.list-item-sidebar {
  color: #fafafa;
}
.list-item-sidebar:hover {
  color: #9e9d24;
}
</style>
